*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
}
.nav{
    max-width: 100%;
    min-height: 50px;
    background-color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav span{
    color: white;
}
.avatar img{
    max-width: 250px;
}
.avatar{
    margin-top: 5%;
    position: relative;
}
.index{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}
.intro h2{
    margin: 20px;
}
.intro h3{
    margin: 5px;
}
